<div class="card", id="user-<%= user.id %>">
  <div class="card-header d-flex justify-content-start flex-wrap">
    <h3 class="mr-3"><%= user.name %></h3>
    <div>
      <% if(logged_in?) %>
        <% if(is_admin? || user == current_user) %>
          <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-outline-secondary mr-3' %>
          <% unless(user == current_user)%>
            <%= link_to 'Delete', user_path(user), class: 'btn btn-outline-danger mr-3', method: :delete, remote: true %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
    <%= image_tag user.avatar_url, class: 'card-img-top', alt: "Avatar for #{user.name}" %>
  <div class="card-body">
    <% if user.tips.any? %>
      <p>Most recent tip: <%= link_to user.tips.last.title, tip_path(user.tips.last) %></p>
    <% end %>
    <p>Has created <%= pluralize_tips user.tips %> and made <%= pluralize_comments user.comments %></p>
    <p class="text-muted">Has been a member of Pro Tips for <%= time_ago_in_words(user.created_at) %> </p>
  </div>
</div>
