<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<% if alert %>
<div id="error_explanation">
  <p><%= alert %></p>
</div>
<% end %>

<div class="card mt-4">
  <div class="card-header d-flex justify-content-start">
    <h3><%= @tip.title %></h3>
    <div>
      <% if(can_edit?(@tip))%>
        <%= link_to 'Edit', edit_tip_path(@tip), class: 'btn btn-outline-secondary ml-3' %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <p><%= @tip.body %></p>
    <p class="text-muted">Created by <%= render partial: 'user_link', locals: { user: @tip.user } %> on <%= @tip.created_at.strftime("%d %b %Y at %H:%M") %></p>
  </div>

  <div class="card-body">
    <h3>Comments</h3>
    <div class="m-3">
      <% @tip.comments.order(created_at: :asc).each do |comment| %>
        <blockquote class="blockquote">
          <p class="mb-0"><%= comment.body %></p>
          <footer class="blockquote-footer">
            Added by <%= render partial: 'user_link', locals: { user: comment.user } %> on <%= comment.created_at %></footer>
        </blockquote>
      <% end %>
    </div>
    <p class="text-muted">Add your own comment</p>
    <%=
      # Notice how #build is used here to instantiate a new empty Comment to be
      # used in the form.  #build is a convenient way to create an empty
      # associated model instance for situations like this, instead of using
      # Comment.new within TipsController#show to create an empty instance.
      form_for([@tip, @tip.comments.build]) do |form|
    %>
      <fieldset>
        <%= form.text_area(:body, class: 'form-control mb-2', rows: 5) %>
      </fieldset>
      <fieldset class="d-flex justify-content-end">
        <%= form.submit class: 'btn btn-primary' %>
      </fieldset>
    <% end %>
  </div>
</div>
