<p id="notice"><%= notice %></p>

<div class="row mt-4 mb-4">
  <h1 class="col-12 text-center display-4">
  <% if params[:q].present? %>
    Tips matching <em>"<%= params[:q] %>"</em>
  <% else %>
    Tips
  <% end %>
  </h1>
</div>

<div class="row">
  <% if @tips.any? %>
    <% @tips.each do |tip| %>
      <%= render partial: 'tip_card', locals: { tip: tip } %>
    <% end %>
  <% else %>
    <p class="no-results mt-5 mb-5">No tips found matching <%= params[:q] %>... :(</p>
  <% end %>
</div>
<%= paginate @tips%>

